{% load styles %}
{% load getattribute %}

{% with url_name='views.kcidb.tests' id=test.iid %}
  <tr class="d-flex border-left-{{ test|get_test_style|getattribute:'color' }} {{ test|get_test_style|getattribute:'row' }}">
    <td class="col-1"  align="left">
      <a href="{% url url_name id %}" class="clickable-cell">
        <i title="Waived test (this result does not affect overall test result)"
           class="fas {% include 'waived_icon.html' with waived=test.waived %}"></i>
        {{ test|get_test_style|getattribute:'icon'|safe }}
      </a>
    </td>
    {% include 'tables/cell_clickable.html' with size='3' text=test.id extra_attr='align="center"' %}
    {% include 'tables/cell_clickable.html' with size='8' text=test.test.name %}
  </tr>
{% endwith %}
