{% load cache %}
{% load styles %}
{% load getattribute %}
{% load strutils %}
{% load timetag %}

<div class="table-responsive">
  <table class="table table-hover table-sm" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th></th>
        <th>ID</th>
        <th>Name</th>
        <th>Tree</th>
        <th>Kernel Version</th>
        <th>Architecture</th>
        <th>Start Time</th>
        <th>Duration</th>
        <th>Environment</th>
      </tr>
    </thead>
    <tbody>
      {% for test in tests %}
        {% cache DEFAULT_CACHE_TTL_S table_kcidb_tests_row test.iid %}
        {% with url_name='views.kcidb.tests' id=test.iid %}
          <tr class="border-left-{{ test|get_test_style|getattribute:'color' }} {{ test|get_test_style|getattribute:'row' }}">
            <td>
              <a href="{% url url_name id %}" class="clickable-cell">
                {% if test.issues.exists %}
                <i class="fas fa-bug text-danger" title="Has issues associated"></i>
                {% endif %}
                <i title="Waived test (this result does not affect overall test result)"
                   class="fas {% include 'waived_icon.html' with waived=test.waived %}"></i>
                {{ test|get_test_style|getattribute:'icon'|safe }}
                {% if test.targeted %}
                  <i class="fas fa-bullseye text-success" title='Is a targeted test.'></i>
                {% endif %}
              </a>
            </td>
            {% include 'tables/cell_clickable.html' with text=test.id %}
            {% include 'tables/cell_clickable.html' with text=test.test.name %}
            {% include 'tables/cell_clickable.html' with text=test.build.checkout.tree %}
            {% include 'tables/cell_clickable.html' with text=test.build.checkout.kernel_version|default:test.build.checkout.git_commit_hash %}
            {% include 'tables/cell_clickable.html' with text=test.build.get_architecture_display %}
            {% include 'tables/cell_clickable.html' with text=test.start_time %}
            {% include 'tables/cell_clickable.html' with text=test.duration|default:''|timetag %}
            {% include 'tables/cell_clickable.html' with text=test.environment %}
          </tr>
        {% endwith %}
        {% endcache %}
      {% endfor %}
    </tbody>
  </table>
</div>
