{% extends "base.html" %}
{% load serialize %}
{% load styles %}
{% load getattribute %}
{% load static %}

{% block title %}
Issue Regex
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'issue_list' %}">Issues</a></li>
    {% if issue_regex.issue %}
    <li class="breadcrumb-item"><a href="{% url 'views.issue.get' issue_regex.issue.id %}">Issue</a></li>
    {% endif %}
    <li class="breadcrumb-item active" aria-current="page">Issue Regex</li>
  </ol>
</nav>
{% endblock %}

{% block content %}
{% if issue_regex %}
<div class="col-xl-4 col-md-6 mb-2">
  <div class="row">
    <span class="dropdown">
      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

        <a href="{% url 'issue.regex.get' issue_regex.id %}" class="dropdown-item">View in API</a>

      </div>
    </span>
  </div>
</div>
{% endif %}

{% if issue_regex.issue %}
<div class="card mb-2">
  <div class="card-header border-left-danger">
    <div class="row">
      <div class="font-weight-bold">
        <span class="badge badge-danger" title="{{ issue_regex.issue.kind.description }}">{{ issue_regex.issue.kind.tag }}</span>
        <a href="{% url 'views.issue.get' issue_regex.issue.id %}">{{issue_regex.issue.description}}</a>
      </div>

      <div class="col small" align="right">
        Created by:
        {% include 'user_ball.html' with user=issue_regex.created_by timestamp=issue_regex.created_at title='Created by' %}
        {% if issue_regex.was_edited %}
          Last edited by:
          {% include 'user_ball.html' with user=issue_regex.last_edited_by timestamp=issue_regex.last_edited_at title='Last edited by' %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="card border-bottom-primary shadow h-100 mb-1">
  <div class="card-header">
    {% if issue_regex %}
    Edit Issue Regex
    {% else %}
    New Issue Regex
    {% endif %}
  </div>
  <div class="card-body">
    <form action="{% url 'views.issue_regex.new_or_edit' %}" method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="col-xl-12">
          <div class="form-group">
            <label for="issueid">Issue</label>
            <div class="input-group">
              <input type="text"
                     id="issue_type_filter"
                     placeholder="Text to filter issue types in the dropdown below" />
              <select required="required" class="form-control" id="issue_id_select" name="issue_id_select">
              <option disabled selected>Select an option</option>
                {% for issue in issues %}
                <option value="{{ issue.id }}" {% if issue_regex.issue == issue %}selected{% endif %}>{{ issue.kind.tag  }} | {{ issue.description }}</option>
                {% endfor %}
              </select>
            </div>
            {% if perms.datawarehouse.add_issue %}
            <div align="right">
              <a href="{% url 'views.issue.new_or_edit' %}?new=true&redirect_to={{ request.get_full_path }}%23issueregex">Create New Issue</a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12">
            <div class="form-group">
              <label for="issue_regex_id">ID</label>
              <input type="text" class="form-control" name="issue_regex_id" placeholder="Autogenerated" id="issue_regex_id" readonly value="{{ issue_regex.id }}">
            </div>
            <div class="form-group">
              <label for="issue_regex_text_match">Text Match</label>
              <input type="text" class="form-control" name="text_match" placeholder="Regex to look for in the logs" id="issue_regex_text_match" value="{{ issue_regex.text_match|default:'' }}">
            </div>
            <div class="form-group">
              <label class="optional" for="issue_regex_test_name_match">Test Name Match</label>
              <input type="text" class="form-control" name="test_name_match" placeholder="Regex to match the test name" id="issue_regex_test_name_match" value="{{ issue_regex.test_name_match|default:'' }}">
            </div>
            <div class="form-group">
              <label class="optional" for="issue_regex_file_name_match">File Name Match</label>
              <input type="text" class="form-control" name="file_name_match" placeholder="Regex to match the file name" id="issue_regex_file_name_match" value="{{ issue_regex.file_name_match|default:'' }}">
            </div>
            <div class="form-group">
              <label class="optional" for="issue_regex_architecture_match">Architecture Match</label>
              <input type="text" class="form-control" name="architecture_match" placeholder="Regex to match the architecture" id="issue_regex_architecture_match" value="{{ issue_regex.architecture_match|default:'' }}">
            </div>
            <div class="form-group">
              <label class="optional" for="issue_regex_tree_match">Tree Match</label>
              <input type="text" class="form-control" name="tree_match" placeholder="Regex to match the kernel tree" id="issue_regex_tree_match" value="{{ issue_regex.tree_match|default:'' }}">
            </div>
            <div class="form-group">
              <label class="optional" for="issue_regex_kpet_tree_name_match">KPET Tree Name Match</label>
              <input type="text" class="form-control" name="kpet_tree_name_match" placeholder="Regex to match the kernel tree name" id="issue_regex_kpet_tree_name_match" value="{{ issue_regex.kpet_tree_name_match|default:'' }}">
            </div>
            <div class="form-group">
              <label class="optional" for="issue_regex_package_name_match">Package Names Match</label>
              {% comment %} <input type="text" disabled class="form-control" name="package_name_match" placeholder="Regex to match package names" id="issue_regex_package_name_match" value="{{ issue_regex.package_name_match|default:'' }}"> {% endcomment %}
              <select multiple class="form-control" name="selected_package_names" id="issue_regex_package_name_match">
                <option {% if not selected_package_names %}selected="selected"{% endif %} value="">Any package name</option>
                {% for package_name in package_names %}
                <option {% if package_name in selected_package_names %}selected="selected"{% endif %} value="{{ package_name }}">{{ package_name }}</option>
                {% endfor %}
              </select>
            </div>
            <input type="hidden" id="action" name="action" value="{% if issue_regex %}edit{% else %}new{% endif %}"/>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col" align="left">
          {% if issue_regex and perms.datawarehouse.delete_issueregex %}
          <div id="delete_issue_regex">
            <button name="action" value="delete" class="btn btn-danger" onclick="return confirmRemove('issue regex');">Delete</button>
          </div>
          {% endif %}
        </div>
        <div class="col" align="right">
          {% if perms.datawarehouse.change_issueregex or perms.datawarehouse.add_issueregex %}
          <button type="submit" class="btn btn-primary">Save</button>
          {% endif %}
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}


{% block script %}
<script src="{% static 'js/custom.js' %}"></script>
<script>
  const issueTypes = [
      {% for issue in issues %}
      {
          id: {{ issue.id }},
          tag: "{{ issue.kind.tag  }}",
          description: "{{ issue.description }}"
      },
      {% endfor %}
  ];

  document.getElementById('issue_type_filter').addEventListener('input', function(e) {
      filterDropdown(e.target.value, 'issue_id_select', issueTypes);
  });

  setSelectedValue('issue_id_select', findGetParameter('issue_id'));

</script>
{% endblock %}
