{% extends "base_single_card.html" %}

{% block title %}
Reset Password Done
{% endblock %}

{% block card %}
<div class="text-center">
  <h1 class="h4 text-gray-900 mb-4">Check your inbox.</h1>
  <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
</div>
{% endblock %}
