{% extends "base_single_card.html" %}

{% block title %}
Create Account
{% endblock %}

{% block card %}
<div class="text-center">
  <h1 class="h4 text-gray-900 mb-4">Create Account</h1>
</div>

<form method="POST" action="{% url 'account.signup' %}">
  {% csrf_token %}
  <div class="form-group">
    <label for="name">Full Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Full Name" value="{{ name }}" required>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-4">
        <label for="username">Username</label>
        <input type="text" class="form-control {% if error_input == 'username' %}is-invalid{% endif %}" id="username" name="username" placeholder="Username" value="{{ username }}" required>
      </div>
      <div class="col-8">
        <label for="email">Email Address</label>
        <input type="email" class="form-control {% if error_input == 'email' %}is-invalid{% endif %}" id="email" name="email" placeholder="Email Address" value="{{ email }}" required>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="name">Captcha</label>
    <div class="row">
      <div class="col-4">
        <img src="{{captcha.image}}" alt="captcha" class="form-control" />
      </div>
      <div class="col-8">
        <input class="form-control {% if error_input == 'captcha' %}is-invalid{% endif %}" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" id="captcha_answer" name="captcha_answer" type="text" required />
      </div>
    </div>
    <input id="captcha_key" name="captcha_key" type="hidden" value="{{captcha.key}}" />
  </div>

  {% if error %}
  <div class="alert alert-danger" role="alert">
      {{ error }}
  </div>
  {% endif %}

  <div class="col" align="right">
    <input type="submit" class="btn btn-success" value="Create">
  </div>
</form>

{% endblock %}
