{% extends "base.html" %}
{% load artifacts %}
{% load getattribute %}
{% load strutils %}
{% load styles %}
{% load timetag %}

{% block title %}
Build {{ build.id }}
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'views.kcidb.checkouts' build.checkout.iid %}">Checkout {{ build.checkout.id }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Build {{ build.id | remove_prefix:build.checkout.id }}</li>
  </ol>
</nav>
{% endblock %}

{% block content %}

{% with kind='checkout' item=checkout %}
{% include 'modal_new_issue_occurrence.html' %}
{% endwith %}

<!-- Start dropdown menu -->
<div class="col-xl-4 col-md-6 mb-2">
  <div class="row">
    <span class="dropdown">
      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a href="{% url 'kcidb.builds.get' build.iid %}" class="dropdown-item">View in API</a>
        {% if perms.datawarehouse.change_kcidbbuild or perms.datawarehouse.change_kcidbtest %}
        <a class="dropdown-item" data-toggle="modal" data-target="#issueOccurrenceModal" href="#">Associate Issue</a>
        {% endif %}
      </div>
    </span>
  </div>
</div>
<!-- End dropdown menu -->

<div class="row">
  <div class="col-xl-6 col-md-6 mb-2">
    <div class="card border-left-{{ build.valid|get_style|getattribute:'color' }} shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-uppercase mb-1">Build Status</div>
            <div class="h5 mb-0 font-weight-bold text-{{ build.valid|get_style|getattribute:'color' }}">{{ build.valid|yesno:'Passed,Failed,Running' }}</div>
          </div>
          <div class="col-auto">
            {{ build.valid|get_style|getattribute:'icon_big'|safe }}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if build.stats_tests_run_count %}
  <div class="col-xl-6 col-md-6 mb-2">
    <div class="card border-left-{{ build.tests_passed|get_style|getattribute:'color' }} shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-uppercase mb-1">Test Status</div>
            <div class="h5 mb-0 font-weight-bold text-{{ build.tests_passed|get_style|getattribute:'color' }}">{{ build.tests_passed|yesno:'Passed,Failed,Running' }}</div>
          </div>
          <div class="col-auto">
            <div class="h2 mb-0">{% include 'icons_test_status.html' with object=build%}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>

<div class="row">
  <div class="col-xl-12 mb-2">
    <div class="card">
      <div class="card-header border-left-{{ build.valid|get_style|getattribute:'color' }}">
        <div class="row">
          <div class="col">
            <label>Build ID: </label>
            {{ build.id }}
          </div>
          <div class="col" align="right">
            {% include 'link_gitlab_mergerequest.html' with checkout=build.checkout %}
            {% for component in build.provenance.all %}
            {% include 'link_provenance_component.html' %}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <label>Comment:</label> {{ build.comment|default:'' }}
            <br/>
          </div>

          <div class="col-6">

            <div class="row">
              <div class="col">
                <i class="fas fa-clock"></i>
                <label>Start Time:</label> {{ build.start_time|default:'' }}
              </div>
              <div class="col" >
                <i class="fas fa-hourglass-half"></i>
                <label>Duration:</label> {{ build.duration|default:''|timetag }}
              </div>
            </div>

          </div>

          <div class="col-6">
            <label>Architecture:</label> {{ build.get_architecture_display|default:'' }}
            <br/>
          </div>

          <div class="col-6">
            <label>Config Name:</label> {{ build.config_name|default:'' }}
            <br/>
          </div>

          <div class="col-6">
            <label>Package Name:</label> {{ build.package_name|default:'' }}
            <br/>
          </div>

          {% if build.debug is not None %}
          <div class="col-6">
            <label>Debug:</label> {{ build.debug|yesno|title }}
            <br/>
          </div>
          {% endif %}

          <div class="col-12">
            <label>Compiler:</label> {{ build.compiler.name|default:'' }}
            <br/>
          </div>

          <div class="col-12">
            <label>Command:</label> {{ build.command|default:'' }}
            <br/>
          </div>

          <div class="col-12">
            <label>Config URL:</label>
            <a href="{{ build.config_url|default:'' }}">{{ build.config_url|default:'' }}</a>
            <br/>
          </div>

          <div class="col-12">
            <label>Log URL:</label>
            <a href="{{ build.log.url|default:'' }}">{{ build.log.url|default:'' }}</a>
            <br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% if build.log_excerpt %}
{% include 'card_log_excerpt.html' with obj=build %}
{% endif %}

{% if build.stats_tests_untriaged %}
{% with object=build %}
{% include 'card_kcidb_untriaged.html' %}
{% endwith %}
{% endif %}

<!-- Display all build issues. -->
{% for grouped_issue in grouped_issues %}
  {% include 'card_issue_occurrence.html' %}
{% endfor %}

{% if build.input_files.exists %}
<div class="row">
  <div class="col-xl-12 mb-2">
    <div class="card shadow">
      <div class="card-header py-3">
        Input Files
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover table-sm" width="100%" cellspacing="0">
            <tbody>
              {% for file in build.input_files.all %}
                <tr class="d-flex">
                  {% include 'tables/cell_clickable.html' with size='12' text=file.url url=file.url %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if build.output_files.exists %}
<div class="row">
  <div class="col-xl-12 mb-2">
    <div class="card shadow">
      <div class="card-header py-3">
        Output Files
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover table-sm" width="100%" cellspacing="0">
            <tbody>
              {% for file in build.output_files.all %}
                <tr class="d-flex">
                  {% include 'tables/cell_clickable.html' with size='12' text=file.url url=file.url %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
  {% if build.start_time|older_than_artifacts_default_expiry %}
    <div class="alert alert-warning" role="alert">
      <i class="fas fa-snowplow"></i>
      <strong>Heads up!</strong> This build is pretty old, artifacts may be deleted already.
    </div>
  {% endif %}
{% endif %}

{% if tests.exists %}
<div class="row">
  <div class="col-xl-12 mb-2">
    <div class="card shadow">
      <div class="card-header py-3">
        List of Tests
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover table-sm" width="100%" cellspacing="0">
            <tbody>
              {% for test in tests %}
                {% with url_name='views.kcidb.tests' id=test.iid %}
                  <tr class="d-flex border-left-{{ test|get_test_style|getattribute:'color' }} {{ test|get_test_style|getattribute:'row' }}">
                    <td class="col-1" >
                      <a href="{% url url_name id %}" class="clickable-cell">
                        <i title="Waived test (this result does not affect overall test result)"
                           class="fas {% include 'waived_icon.html' with waived=test.waived %}"></i>
                        {{ test|get_test_style|getattribute:'icon'|safe }}
                        {% if test.targeted %}
                          <i class="fas fa-bullseye text-success" title='Is a targeted test.'></i>
                        {% endif %}
                      </a>
                    </td>
                    {% include 'tables/cell_clickable.html' with size='2' text=test.id %}
                    {% include 'tables/cell_clickable.html' with size='6' text=test.test.name %}
                    {% include 'tables/cell_clickable.html' with size='3' text=test.environment %}
                  </tr>
                {% endwith %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% include 'card_actions.html' with object=build %}

{% endblock %}

{% block script %}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>

<script>
  var url = window.location.href;
  if (url.indexOf('#issueoccurrence') != -1) {
      $('#issueOccurrenceModal').modal('show');
  }
</script>

<script>
  $(".rotate").click(function(){
    $(this).toggleClass("down")  ;
  })
</script>
{% endblock %}
